[defaults]
# This tells Ansible to stop complaining and just use the discovered python3
interpreter_python = auto_silent
# Point to your inventory so you don't have to type -i every time
inventory = inventory/hosts
# skip deprecated warnings
deprecation_warnings = False
display_skipped_hosts = False
